<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/golden_octaves_db?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">-=Re.l1ghtwaY=-</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="entity.Account_Status"/>
        <mapping class="entity.User"/>
        <mapping class="entity.Category"/>
        <mapping class="entity.Brand"/>
        <mapping class="entity.Model"/>
        <mapping class="entity.Origin_Country"/>
        <mapping class="entity.Description"/>
        <mapping class="entity.Product_Condition"/>
        <mapping class="entity.Colour"/>
        <mapping class="entity.Product_Status"/>
        <mapping class="entity.Product"/>
        <mapping class="entity.Delivery_Status"/>
        <mapping class="entity.City"/>
        <mapping class="entity.Address"/>
        <mapping class="entity.Invoice"/>
        <mapping class="entity.Invoice_Item"/>
        <mapping class="entity.Review_Type"/>
        <mapping class="entity.Reviews"/>
        <mapping class="entity.Cart"/>
        <mapping class="entity.Watchlist"/>
        <mapping class="entity.Admin"/>
    </session-factory>
</hibernate-configuration>



